version: "3.7"
networks:
  stem-microservices-backend: {}
volumes:
  mongodb: {}
  cloud-config: {}

services:

  cloud-config:
    container_name: cloud-config
    image: trvankiet02/cloud-config:1.0-SNAPSHOT
    ports:
      - "8888:8888"
    networks:
      - stem-microservices-backend
    volumes:
      - cloud-config:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://cloud-config:8888/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 5

  service-discovery:
    container_name: service-discovery
    image: trvankiet02/service-discovery:1.0-SNAPSHOT
    ports:
      - "8761:8761"
    networks:
      - stem-microservices-backend
    depends_on:
      cloud-config:
        condition: service_healthy

  conversation-service:
    container_name: conversation-service
    image: trvankiet02/conversation-service:1.0-SNAPSHOT
    ports:
      - "8100:8100"
    networks:
      - stem-microservices-backend
    depends_on:
      - service-discovery
      - cloud-config

  friend-service:
    container_name: friend-service
    image: trvankiet02/friend-service:1.0-SNAPSHOT
    ports:
      - "8200:8200"
    networks:
      - stem-microservices-backend
    depends_on:
      - service-discovery
      - cloud-config

  group-service:
    container_name: group-service
    image: trvankiet02/group-service:1.0-SNAPSHOT
    ports:
      - "8300:8300"
    networks:
      - stem-microservices-backend
    depends_on:
      - service-discovery
      - cloud-config

  media-service:
    container_name: media-service
    image: trvankiet02/media-service:1.0-SNAPSHOT
    ports:
      - "8400:8400"
    networks:
      - stem-microservices-backend
    depends_on:
      - service-discovery
      - cloud-config

  post-service:
    container_name: post-service
    image: trvankiet02/post-service:1.0-SNAPSHOT
    ports:
      - "8700:8700"
    networks:
      - stem-microservices-backend
    depends_on:
      - service-discovery
      - cloud-config

  exam-service:
    container_name: exam-service
    image: trvankiet02/exam-service:1.0-SNAPSHOT
    ports:
      - "8800:8800"
    networks:
      - stem-microservices-backend
    depends_on:
      - service-discovery
      - cloud-config

  user-service:
    container_name: user-service
    image: trvankiet02/user-service:1.0-SNAPSHOT
    ports:
      - "8000:8000"
    networks:
      - stem-microservices-backend
    depends_on:
      - service-discovery
      - cloud-config

  api-gateway:
    container_name: api-gateway
    image: trvankiet02/api-gateway:1.0-SNAPSHOT
    ports:
      - "9000:9000"
    networks:
      - stem-microservices-backend
    depends_on:
      - cloud-config
      - service-discovery